<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="narrative.html">Project Narrative</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="workshop.html">Workshops</a></li>
        <li><a href="gallery.html">Photo Gallery</a></li>
        <li><a href="videos.html">Videos</a></li>
        <li><a href="instructions.html">Instructions</a></li>
        <li><a href="members.html">Members</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div> 
  </div>
</div> 


